// Gray
$gray-25: #FCFCFC !default;
$gray-50: #FAFAFA !default;
$gray-100: #F4F4F5 !default;
$gray-200: #E4E4E7 !default;
$gray-300: #D1D1D6 !default;
$gray-400: #A0A0AB !default;
$gray-500: #70707B !default;
$gray-600: #51525C !default;
$gray-700: #3F3F46 !default;
$gray-800: #26272B !default;
$gray-900: #18181B !default;
$gray-950: #131316 !default;


// Rose
$rose-25: #FFF5F6 !default;
$rose-50: #FFF1F3 !default;
$rose-100: #FFE4E8 !default;
$rose-200: #FECDD6 !default;
$rose-300: #FEA3B4 !default;
$rose-400: #FD6F8E !default;
$rose-500: #F63D68 !default;
$rose-600: #E31B54 !default;
$rose-700: #C01048 !default;
$rose-800: #A11043 !default;
$rose-900: #89123E !default;
$rose-950: #510B24 !default;
