// ======================================
// Base || Helpers
// ======================================

// Gray BG Helpers
.bg-gray-25 { background-color: $gray-25 !important; }
.bg-gray-50 { background-color: $gray-50 !important; }
.bg-gray-100 { background-color: $gray-100 !important; }
.bg-gray-200 { background-color: $gray-200 !important; }
.bg-gray-300 { background-color: $gray-300 !important; }
.bg-gray-400 { background-color: $gray-400 !important; }
.bg-gray-500 { background-color: $gray-500 !important; }
.bg-gray-600 { background-color: $gray-600 !important; }
.bg-gray-700 { background-color: $gray-700 !important; }
.bg-gray-800 { background-color: $gray-800 !important; }
.bg-gray-900 { background-color: $gray-900 !important; }



// Extend this in ::before || ::after
.chevron--icon {
  background: $chevron-icon;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  content: "";
}

@mixin chevron-icon($size: "") {
  @if length($map) > 0 {
    $values: map-values($map);
    $first-value: nth($values, 1);
    @if $first-value != 0 {
      @warn "First breakpoint in #{$map-name} must start at 0, but starts at #{$first-value}.";
    }
  }
}