// Partial this out eventually
:root {
  --dark-theme-primary: #{$rose-300};
  --dark-theme-primary-text: #{$gray-100};
  --dark-theme-secondary-text: #{$gray-300};
  --dark-theme-primary-bg: #{$gray-900};
  --dark-theme-secondary-bg: #{$gray-800};
}