// ======================================
// Sections || Header
// ======================================


.header.header--global {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @include light {
    background-color: rgba($white, .9);
    border-bottom: 2px solid $gray-100;
  }

  @include dark {
    background-color: rgba($gray-950, .9);
    border-bottom: 2px solid $gray-900;
  }

  nav {
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex ;
    justify-content: space-between;
  }

  // Infinity Logo
  .logo {
    transition: .2s ease-in-out transform;
    svg { height: 28px; width: auto; }

    &:hover {
      transform: scale(1.01);
    }
  }

  @include light {
    .logo svg > path { fill: $gray-700; }
    .logo:hover { svg > path { fill: $gray-900; }}
  }

  @include dark {
    .logo svg > path { fill: $gray-500; }
    .logo:hover { svg > path { fill: $gray-300; }}
  }
}

.header.header--sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
}
