// ======================================
// Sections || Header
// ======================================


.header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @include light {
    background-color: rgba($white, .9);
    border-bottom: 2px solid $gray-100;
  }

  @include dark {
    background-color: rgba($gray-950, .9);
    border-bottom: 2px solid $gray-900;
  }

  nav {
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex ;
    align-content: center;
    justify-content: space-between;
  }

  @include media-breakpoint-down(lg) {
    .header--button.desktop { display: none; }
  }
  @include media-breakpoint-up(lg) {
    .header--button.mobile { display: none; }
  }
  @include media-breakpoint-down(md) {
    &.header--sticky { z-index: 920; }
  }
  @include media-breakpoint-down(xs) {
    min-width: 320px;
  }
}

  // Infinity Logo
.header.header--global .logo {
  transition: .2s ease-in-out transform;
  svg { height: 28px; width: auto; }
  &:hover { transform: scale(1.01); }

  @include light {
    svg > path { fill: $gray-700; }
    &:hover { svg > path { fill: $gray-900; }}
  }

  @include dark {
    svg > path { fill: $gray-500; }
    &:hover { svg > path { fill: $gray-300; }}
  }
}

.header.header--sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
}


// Reader Layout
body.reader .header.header--global {
  position: relative;
  z-index: initial;
  top: initial;
  border-bottom-width: 0;
}

.header.header--reader hgroup {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 0.75rem;

  > * { margin: 0; }
  h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    max-height: 3rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-down(sm) {
      font-size: 0.875rem;
      line-height: 1.25rem;
      max-height: 2.5rem;
    }
    @include media-breakpoint-between(sm,md) {
      font-size: 1.125rem;
      line-height: 1.375rem;
      max-height: 2.75rem;
    }
  }
}

.header--reader .header--button {
  @include dark {
    svg {
      filter: invert(1) grayscale(100%) brightness(80%);
    }
    &:hover svg {
      filter: invert(1) grayscale(100%) brightness(30%);
    }
  }
}