// ======================================
// Sections || Header
// ======================================


.header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @include light {
    background-color: rgba($white, .9);
    border-bottom: 2px solid $gray-100;
  }

  @include dark {
    background-color: rgba($gray-950, .9);
    border-bottom: 2px solid $gray-900;
  }

  nav {
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex ;
    align-content: center;
    justify-content: space-between;
  }
}

  // Infinity Logo
.header.header--global .logo {
  transition: .2s ease-in-out transform;
  svg { height: 28px; width: auto; }
  &:hover { transform: scale(1.01); }

  @include light {
    svg > path { fill: $gray-700; }
    &:hover { svg > path { fill: $gray-900; }}
  }

  @include dark {
    svg > path { fill: $gray-500; }
    &:hover { svg > path { fill: $gray-300; }}
  }
}

.header.header--sticky {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
}

body.reader .header.header--global {
  position: relative;
  z-index: initial;
  top: initial;
}