// ======================================
// Components || Pagination
// ======================================

// <nav> Container
.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 23px;
  margin-top: 24px;

  @include light {
    border-top: 2px solid $gray-200;
  }

  @include dark {
    border-top: 2px solid $gray-700;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li > a {
      margin: 0 2px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: background-color ease-in-out 0.2s;

      &.active {
        pointer-events: none;
        cursor: default;
      }

      @include light {
        color: $gray-700;
        &.active {
          color: $white;
          background-color: $gray-700;
          &:hover { background-color: $gray-700; }
        }
        &:hover { background-color: $gray-100; }
      }

      @include dark {
        color: var(--dark-theme-secondary-text);
        &.active {
          color: $white;
          background-color: $gray-700;
          &:hover { background-color: $gray-700; }
        }
        &:hover { background-color: $gray-500; }
      }
    }

    li.disabled { display: flex; align-items: center; }
  }

  @include media-breakpoint-down(sm) {
    .paginator--info { display: flex; }
    .paginator--links { display: none; }
  }

  @include media-breakpoint-up(sm) {
    .paginator--info { display: none; }
    .paginator--links { display: flex; }
  }
}