// ======================================
// Sections || Explore || Book Reader
// ======================================


// Start Layout
#readerWrap { flex: 1; }
#readerMain { grid-area: main; }
#readerSidebar { grid-area: sidebar; }

body.reader .footer-main { margin-top: 3rem; }

@include media-breakpoint-up(lg) {
  #readerWrap {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
  }

  body.reader #readerSidebar {
    display: block !important;
    visibility: visible;
    position: -webkit-sticky;
    position: sticky;
    border: 0;
    padding: 0;
    top: 0;
    height: calc(100vh - 3rem);
    transform: none;
    transition: none;

    .offcanvas-header { display: none; }
    .offcanvas-body {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      overflow-y: visible;
      background-color: transparent !important;
    }
  }

  // Desktop show/hide sidebar
  body.reader.sidebar-closed #readerWrap {
    grid-template-columns: 0fr auto;

    #readerSidebar {
      visibility: hidden;
      position: fixed;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  }
}

@include media-breakpoint-up(xl) {
  #readerWrap { grid-template-columns: 1fr 4fr; }
}

// End Layout
#readerEnd { display: none !important; }
#readerEnd > * { display: none !important; }

#readerSidebar {
  max-width: 380px;
  li { position: relative; }

  .readerNavLink {
    display: inline-flex;
    align-items: center;
    line-height: 1.25rem;
    transition: color ease-in-out .2s;

    &.active { font-weight: 500; }
    &.active:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      margin-left: -14px;
    }

    @include light {
      color: $gray-700;
      &:hover { color: $gray-900; }
      &.active { color: $rose-500; }
      &.active:before { background-color: $rose-500; }
      &.active:hover { color: $rose-500; }
    }

    @include dark {
      color: $gray-500;
      &:hover { color: $gray-300; }
      &.active { color: $rose-300; }
      &.active:before { background-color: $rose-300; }
      &.active:hover { color: $rose-300; }
    }
  }

  @include media-breakpoint-up(lg) {
    z-index: 980;
  }
  @include media-breakpoint-up(md) {
    .sidebar--wrap {
      position: -webkit-sticky;
      position: sticky;
      top: 5rem;
      display: block !important;
      height: calc(100vh - 7rem);
      padding-left: 0.25rem;
      margin-left: -0.25rem;
      overflow-y: auto;
    }
  }
}

.reader .settingsMenu {
  display: flex;
  flex-direction: column;
  .input-group + .input-group { margin-top: 1rem; }
  .input-label { line-height: 28px; font-weight: 600; }

  .readerWidthInput {
    @include media-breakpoint-down(md) { width: 100%; }
  }
}


// Bottom Drawer on mobile | Right on Desktop
.offcanvas.offcanvas-dynamic {
  border-color: $gray-300;
  right: 0;

  @include media-breakpoint-up(lg) {
    min-height: 100vh;
    top: 0;
    width: 320px;
    transform: translateX(100%);
  }

  @include media-breakpoint-down(lg) {
    left: 0;
    height: 45vh;
    max-height: 100%;
    transform: translateY(100%);
  }
}

// Offcanvas Navs
.offcanvas-backdrop {
  @include light { background-color: $black; }
  @include dark { background-color: $white; }
}

.offcanvas {
  @include light { background-color: $white; }
  @include dark {
    background-color: $black;
    .offcanvas-title { color: $gray-500; }
    .offcanvas-body { color: $gray-200; }
    .btn-close { filter: invert(1); }
  }
}

@include media-breakpoint-up(lg) {
  // #readerSidebar { background-color: transparent; }
}

.reader .offcanvas-backdrop.show { opacity: .2; }


// FINISHED STYLES
.reader--content,
.reader--pagination {
  padding: 0 20px;
  margin: 0 auto;

  @include media-breakpoint-down(md) { padding: 10px; }
}


// Settings
#readerMain[data-reader-width="small"] .reader--content,
#readerMain[data-reader-width="small"] .reader--pagination { max-width: 580px; }
#readerMain[data-reader-width="default"] .reader--content,
#readerMain[data-reader-width="default"] .reader--pagination { max-width: 720px; }
#readerMain[data-reader-width="large"] .reader--content,
#readerMain[data-reader-width="large"] .reader--pagination { max-width: 860px; }


#readerWrap { margin: 1.5rem auto; }

@include media-breakpoint-down(lg) {
  .offcanvas .sidebar--wrap { overflow-y: scroll; }

  #readerSidebar {
    max-width: 100vw;
    min-height: 90vh;
  }
}

.expander .expander--button {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  border-radius: 6px;
  overflow-anchor: none;
  text-align: left;
  font-weight: 600;
  box-shadow: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &::before {
    @extend .chevron--icon;
    margin-right: 0.25rem;
    transition: transform 0.35s ease;

    @include dark {
      filter: invert(1) grayscale(100%) brightness(50%);
    }
  }

  &[aria-expanded="true"]::before { transform: rotate(0deg); }
  &[aria-expanded="false"]::before { transform: rotate(-90deg); }

  @include light {
    color: $gray-700;
    &:hover { background-color: $rose-100; }
  }

  @include dark {
    color: $gray-500;
    &:hover { background-color: $rose-100; color: $gray-700; }
  }
}

.expander .expander--link {
  margin-left: 2rem;
}

.reader--pagination {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    width: 40%;

    @include media-breakpoint-down(md) { width: 45%; }
  }

  .readerPageLink {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1.75rem;
    transition: 0.2s ease-in-out transform;

    span {
      pointer-events: none;
      display: block;
      width: 100%;
      color: inherit;
      transition: color ease-in-out 0.2s;
    }

    &:hover { transform: scale(1.01); }

    @include light {
      color: $gray-600;
      &:hover span { color: $gray-900; }
    }
    @include dark {
      color: $gray-500;
      &::after {
        filter: invert(1) grayscale(100%) brightness(50%);
      }
      &:hover {
        filter: brightness(90%);
        // &::after { filter: invert(1) grayscale(100%) brightness(70%); }
      }
    }
  }
  .readerPageLink::after {
    @extend .chevron--icon;
    width: 32px;
    height: 32px;
    position: absolute;

    @include dark { color: $gray-600; }
  }
  .readerPageLink.next::after {
    transform: rotate(-90deg);
    right: 0;
    margin-right: -12px;
  }
  .readerPageLink.prev::after {
    transform: rotate(90deg);
    left: 0;
    margin-left: -12px;
  }

  @include media-breakpoint-down(sm) {
    .readerPageLink span + span { display: none;}
  }
}

font[color="green"] {
  @include light { color: $rose-500 !important; }
  @include dark { color: $rose-300 !important; }
}

.faux-button { width: 44px; }